* {
  margin: 0px;
  padding: 0px;
  font-family: myfont;
}
/* Prevent horizontal overflow */
body,
html {
  overflow-x: hidden;
}

/* Optional: adjust container width */
.container {
  max-width: 100vw;
}
body {
  flex: 1;
  background-image: linear-gradient(
    to right,
    #2b2b2b 0%,
    #2b2b2b 40%,
    #fa9414 56%,
    #fa9414 100%
  );
}
@font-face {
  font-family: myfont;
  src: url("../Fonts/Bound.ttf");
}
a {
  background-color: transparent;
  text-decoration: none;
}
.rows {
  display: flex;
  justify-content: space-evenly;
}
.cols {
  margin-top: 5vh;
  background-color: transparent;
  border: 0.3vh solid white;
  border-radius: 3vh;
}
.team-heading {
  margin-left: 10vh;
  margin-top: 10vh;
}
.testimonial-card {
  max-width: 300px;
  padding: 20px;

  background-color: transparent;
  border: 0.3vh solid white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1vh 5vh 0vh 5vh;
}

.testimonial-img {
  width: 100px;
  height: 100px;
  border: 0.4vh solid yellow;
}

.user-name {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}

.review {
  font-size: 0.9em;
  line-height: 1.5;
  color: #333;
}
.team-members {
  display: flex;
  justify-content: space-evenly;
}
.desination {
  color: white;
  font-size: 4vh;
}
