.footer {
  height: 30vh;
  width: 100%;
  background-color: #010048bb;
  margin: 0;
  flex: 1;
  padding: 1vh;
  border-top: 1px solid crimson;
  display: flex;
  justify-content: space-between;
}
.Name {
  font-size: 5.5vh;
  margin-left: 4vh;
  color: crimson;
}
.Intro {
  font-size: 2vh;
  margin-left: 4.3vh;
  color: white;
  margin-top: 2vh;
}
.description {
  width: 50%;
}
.pages {
  flex-direction: row;
}
.pagebtn {
  color: white;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-left: 2px solid white;
  margin-top: 5vh;
  height: 2vh;
  width: 100%;
}

/* Remove the left border from the first button */
.pagebtn:first-child {
  border-left: none;
}
.social {
  flex: 1;

  width: 100%;
}

.smedia {
  justify-content: space-around;
  display: flex;
  text-align: center;
  margin-bottom: 2vh;
}
.smedia2 {
  justify-content: center;
  margin-top: 0.5vh;
  display: flex;
  text-align: center;
}

.sicon {
  color: white;
  font-size: 26px;

  border: none;
  width: 4vh;
  margin-top: 5vh;
  height: 3vh;
  margin-left: 2vh;
}

.sicon:first-child {
  border-left: none;
}

.phone {
  margin: 0px;
  height: 0px;
  color: white;
  margin-left: 2vh;
}
.phoneicon {
  margin: 0px;
  height: 4vh;
  color: white;
}
